.navbar {
  float: right;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 8px;
}

.container {
  width: calc(100vw - 60px);
  height: 300px;
  margin: 100px 30px;
}

.main-img {
  display: block;
  width: 50%;
  margin-left: auto;
}