.navbar {
  float: right;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 8px;
}

.container {
  width: calc(100vw - 60px);
  height: auto;
  margin: 100px 30px;
}

.main-img {
  display: block;
  width: 50%;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.post {
  width: 50%;
  display: inline-block;
}